:root {
  --color-primary-bg: #d6fffd;
  --color-secondary-bg: #2b7a78;
  --color-third-bg: #17252a;
  --color-primary-font: #fff;
  --color-secondary-font: #376f83;
  --color-primary-shadow: #17252a;
}
